body, #1 {
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  /* text-align: center; */
  height: 100%;
  font-family: 'Cutive Mono', monospace;
}


.box {
  display: flex;
  align-items: center;  
  justify-content: center;
}

.text {
  font-family: 'Cutive Mono', monospace;
  font-size: 32px;
}