body, #1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  color: white;
  /* text-align: center; */
  height: 100%;
  font-family: 'Cutive Mono', monospace;
}


.box {
  display: flex;
  align-items: center;  
  justify-content: center;
}

.text {
  font-family: 'Cutive Mono', monospace;
  font-size: 32px;
}

.head {
  font-family: 'Rock Salt', cursive;
  font-size: 60px;
  font-weight: bold;
}

@media (max-width: 650px) {
  .head {
  font-size: 32px;
  }

  .text {
    font-size: 18px;
  }
}